/*-------------------------------------------------*/
/* COLORS */
/*-------------------------------------------------*/

$color-primary-dark-2: #003459;
$color-primary-dark-1: #005A7F;
$color-primary-medium-2: #0091CC;
$color-primary-medium-1: #00B3FF;
$color-primary-light: #4CCBFF;

$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #e9e9e9;
$color-grey-medium: #707070;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

:root {
    --color-primary-light: #4CCBFF;
    --color-primary-medium-1: #00B3FF;
    --color-primary-medium-2: #0091CC;
    --color-primary-dark-1: #005A7F;
    --color-primary-dark-2: #003459;

    --color-grey-light-1: #f6f6f6;
    --color-grey-light-2: #e9e9e9;
    --color-grey-medium: #707070;
    --color-grey-dark: #333;

    --color-white: #fff;
    --color-black: #000;
}

/*-------------------------------------------------*/
/* STACKING CONTEXTS (z-index) */
/*-------------------------------------------------*/

$layer-3: 300; //Lie above overlay
$layer-2: 200; //Lie above menu 
$layer-1: 100; //Lie above event displays
$layer-below: -1; //Hide Element

/*-------------------------------------------------*/
/* TEXT STYLE */
/*-------------------------------------------------*/

$mainTextDisplay: uppercase;