/*-----------------------------------------------------*/
/* COLORS */
/*-----------------------------------------------------*/

$color-royalBlue: #005A7F;
$color-olympicBlue: #0091CC;
$color-malibuBlue: #4CCBFF;
$color-azure: #00B3FF;
$color-white: #fff;
$color-grey: #f6f6f6;
$color-shadow: #939393;
$color-black: #000;

/*-----------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------*/

@mixin center {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

@mixin daysFormat {
    text-transform: uppercase;
    color: $color-malibuBlue;
    text-shadow: -.1rem 0 #707070, 0 .1rem #707070, .1rem 0 #707070, 0 -.1rem #707070;
    font-weight: 200;
}

/*-----------------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-size: 60%;
    font-weight: 400;
    background-color: $color-white;
}

body {
    font-family: 'Nunito', sans-serif;
}

button {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

#overlay {
    background-color: $color-black;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.overlayON {
    opacity: 0.6;
    z-index: 300;
}

.overlayOFF {
    opacity: 0;
    z-index: 0;
}

/*-----------------------------------------------------*/
/* DAYS LIST */
/*-----------------------------------------------------*/

.weekContainer {
    background-color: $color-olympicBlue;
    width: 100%;
    height: 10rem;
    position: fixed;
    z-index: 300;
}

.week {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    li {
        list-style: none;
    };
    
    &__day {
        background-color: $color-royalBlue;
        font-family: inherit;
        font-size: 2.5rem;
        border: .1rem solid transparent;
        margin: 3rem 1rem; 
        padding: .3rem;
        width: 12rem;
        opacity: 0.5;
        -webkit-transition: opacity 0.3s, background-color 0.3s, border 0.3s, -webkit-transform 0.6s;
        transition: opacity 0.3s, background-color 0.3s, border 0.3s, -webkit-transform 0.6s;
        transition: opacity 0.3s, background-color 0.3s, border 0.3s, transform 0.6s;
        transition: opacity 0.3s, background-color 0.3s, border 0.3s, transform 0.6s, -webkit-transform 0.6s;

        &:hover:not(.active) {
            opacity: 1;
            cursor: pointer;
        }  

        &:focus {
            outline: none;
        }
        
        @include daysFormat;
    }
}

.activeDay {
    opacity: 1;
    background-color: darken($color-royalBlue, 10%);
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
}

/*-----------------------------------------------------*/
/* STICKY MENU */
/*-----------------------------------------------------*/


.menu {
    height: 20rem;
    -webkit-box-shadow: 0 .3rem 2rem darken($color-shadow,20%);
    box-shadow: 0 .3rem 2rem darken($color-shadow,20%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: $color-white;
    margin-bottom: 5rem;
    z-index: 100;
    
    &__mobile {
        position: relative;
        height: 10rem;
        background-color: $color-olympicBlue;
    }
    
    &__currentDay {
        background-color: darken($color-royalBlue, 10%);
        font-size: 4rem;
        padding: .6rem;
        width: 30rem;
        text-align: center;
        
        @include center;
        @include daysFormat;
    }
    
    &__buttonContainer {
        width: 100%;
        height: 10rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    &__button {
        height: 3.5rem;
        margin: 0 4rem;
        padding: .5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: $color-azure;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0.5;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
      
        i {
            font-size: 3.5rem;
            margin-right: 1rem;
            -webkit-transition: margin 0.3s;
            transition: margin 0.3s;
        }
        
        span {
            font-size: 2rem;
        }
        
        &:hover {
            cursor: pointer;
            opacity: 1;
            color: darken($color-azure, 15%);           
        }
        
    }
}

/*-----------------------------------------------------*/
/* NEW EVENT UI */
/*-----------------------------------------------------*/

.newEventUI {
    height: 7000px;
    width: 70rem;
    background-color: white;
    z-index: 400;
    border: 8px solid $color-royalBlue;
    display: none;
    
    @include center;
    
    &__form {
        width: 70%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/*-----------------------------------------------------*/
/* CLONE ROUTINE UI */
/*-----------------------------------------------------*/

.cloneRoutineUI {
    display: none;
    
    @include center;
}

/*-----------------------------------------------------*/
/* RESERT ROUTINE UI */
/*-----------------------------------------------------*/

.resetRoutineUI {
    display: none;
    
    @include center;
}

/*-----------------------------------------------------*/
/* STATISTICS UI */
/*-----------------------------------------------------*/

.statisticsUI {
    display: none;
    
    @include center;
}

/*-----------------------------------------------------*/
/* ROUTINE DISPLAY */
/*-----------------------------------------------------*/

.routineContainer {
    width: 100%;
}

.eventContainer {
    width: 55%;
    margin: 2rem auto;
}

.eventContainer:nth-child(odd) { 
    .event {background-color: $color-grey;}
}

.eventContainer:nth-child(even) {
    .event {background-color: darken($color-grey, 8%)};
}

.event {
    height: 15rem;
    margin: 3rem 0;
    -webkit-box-shadow: 0 .3rem 1rem $color-shadow;
    box-shadow: 0 .3rem 1rem $color-shadow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;

    > div {
        width: 33%;
        position: relative;
    }
     
    &__notes {
        height: 100%;
        
        p { 
            width: 70%;
            color: $color-royalBlue;
            font-size: 1.5rem;
            
            @include center;
        }
    }
    
    .hasNote {
        border-right: .3rem dotted $color-azure;
    }
    
    &__name p{
        text-transform: uppercase;
        background-color: $color-olympicBlue;
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
        -webkit-box-shadow: 0 0 1rem $color-shadow;
        box-shadow: 0 0 1rem $color-shadow;
        color: $color-malibuBlue;
        
        @include center;
    }
    
    &__time {
        position: relative;
        height: 100%;
        
        span {
            position: absolute;
            display: block;
            right: 0;
            font-size: 3rem;
            font-weight: 600;
            padding: 2rem;
            font-family: monospace;
        }
        
    }
    
    &__start {
        top: 0;
        color: $color-azure;
    }
    
    &__end {
        bottom: 0;
        color: $color-royalBlue;
    }
    
    &__settings {
        position: absolute;
        background: none;
        border: none;
        top: 35%;
        left: 12%;
        font-size: 4rem;
        color: $color-olympicBlue;
        -webkit-transition: opacity 0.6s, color 0.3s, -webkit-transform 1s;
        transition: opacity 0.6s, color 0.3s, -webkit-transform 1s;
        transition: transform 1s, opacity 0.6s, color 0.3s;
        transition: transform 1s, opacity 0.6s, color 0.3s, -webkit-transform 1s; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        opacity: 0;

    }
     
    &__settings:focus {
        outline: none;     
    }
     
    &:hover {
        -webkit-box-shadow: 0 0 3rem $color-royalBlue;
        box-shadow: 0 0 3rem $color-royalBlue;
        
        .event__settings {
            -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
            opacity: 1;
            cursor: pointer;
        }
        
        .event__settings:hover {
            color: darken($color-olympicBlue, 15%);
        }
    }   
}