.event {
  height: 15rem;
  -webkit-box-shadow: 0rem .4rem 1.5rem rgba($color-black, .3);
  box-shadow: 0rem .4rem 1.5rem rgba($color-black, .3);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  border-radius: 1rem;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: border-left .3s, opacity .3s, height .3s, background-color 0.5s;
  position: relative;
  overflow: hidden;

  @include centerChildren;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap;

  >div:not(:last-child) {
    position: relative;
    width: 33%;
  } 

  //-------------------------------------------------------NAME SECTION
  
  &__name p {
    text-transform: $mainTextDisplay;
    background-image: linear-gradient(to right, $color-primary-medium-2, $color-primary-medium-1);
    font-size: 2rem;
    text-align: center;
    width: 20rem;
    max-height: 12rem;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 3rem;
    color: $color-white;
    word-wrap: break-word;
    transition: transform 0.3s;
    @include center;

    @include respond-shrink(35em) {
      padding: 1rem;
      width: 18rem;
    }
  } 

  //-------------------------------------------------------TIME SECTION

  &__time {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity 0.3s;
    span {
      font-size: 2rem;
      margin: 0 auto;
      font-weight: 600;
      vertical-align: middle;
      padding: 0.6rem 2rem;
    }
  }
  &__start {
    top: 0;
    color: $color-primary-medium-1;
    border-right: 3px solid $color-primary-medium-1;
  }
  &__end {
    bottom: 0;
    color: $color-primary-dark-1;
    border-right: 3px solid $color-primary-dark-1;
  } 

  //-------------------------------------------------------NOTES SECTION

  //Only styled with hasNote modifier
  &__notes {
    opacity: 0;
  }
  
  //-------------------------------------------------------BUTTON SECTION

  &__config,
  &__delete,
  &__toggleNote {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    color: $color-primary-medium-1;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    backface-visibility: hidden;

    i {
      pointer-events: none;
    }
  }
  &__config,
  &__delete {
    opacity: 0;
    transform: translateY(1.2rem)
  }
  &__config:focus,
  &__delete:focus,
  &__toggleNote:focus,
    {
    outline: none;
  }

  &__config {
    top: 35%;
    right: 60%;
  }
  &__delete {
    top: 35%;
    right: 20%;
  }
  @media only screen and (hover: none) {
    &__config,
    &__delete {
      transform: translateY(0);
      color: rgba($color-primary-medium-1, .5);
      opacity: 1;
    }
    &__config {
      right: 40%;
    }
    &__delete {
      right: 10%;
    }
  }

  //-------------------------------------------------------HOVER EFFECT

  @media only screen and (hover: hover) {
    &:hover {
      border-left: 10px solid $color-primary-dark-1;
      .event__name p {
        transform: translate(50%, 50%) scale(1.07);
        backface-visibility: hidden;
      }
      .event__config,
      .event__delete {
        transform: translateY(0);
        opacity: 1;
        cursor: pointer;
      }
      .event__config:hover,
      .event__delete:hover{
        color: $color-primary-dark-1;
        transform: translateY(0) scale(1.1);
        backface-visibility: hidden;
      }
    }
  }

  @include respond-shrink(35em) {
    border: none;
  }
}

//-------------------------------------------------------NOTES MODIFIER

.hasNote {

  .event>div:last-child {
    position: absolute;
    width: 28%;
    @include center;
  }

  .event__note {
    opacity: 0;
    text-align: center;
    color: $color-primary-medium-2;
    font-size: 1.7rem;
    line-height: 2.5rem;
    word-wrap: break-word;
    transition: opacity 0.3s;
  }

  .event__config {
    top: 36%;
    right: 40%;
  }
  .event__delete {
    top: 36%;
    right: 10%;
  }
  .event__toggleNote {
    top: 36%;
    right: 70%;
    transform: scale(1.3);
  }

  @media only screen and (hover: hover) {
    .event__toggleNote {
      right: 40%;
    }
    .event__config {
      right: 70%;
    }
    &:hover {
      .event__toggleNote {
        transform: scale(1.05);
        cursor: pointer;
      }
      .event__toggleNote:hover{
        color: $color-primary-dark-1;
        transform: scale(1.15);
      }
    }
  }
}

//-------------------------------------------------------OPEN NOTES MODIFIER

.openNote {
  .event__time {
    opacity: 0;
  }
  .event__name p{
    transform: translate(-80%, 50%) scale(0.85);
  }
  .event__note {
    opacity: 1;
  }
  .event__toggleNote {
    color: $color-primary-dark-1;
  }

  @media only screen and (hover: hover) {
    &:hover {
      .event__name p{
        transform: translate(-80%, 50%) scale(0.92);
      }
      .event__toggleNote:hover {
        color: $color-primary-medium-1;
      }
    }
  }
}