.week {
  @include centerChildren;

  @include respond-shrink(43.75em) {
    flex-direction: column;
  }
  li {
    list-style: none;
  }
  ;
  &__day {
    font-size: 2.5rem;
    margin: 3rem 1rem;
    padding: .3rem;
    width: 12rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 200;

    @include respond-shrink(43.75em) {
      font-size: 3rem;
      padding: 1rem;
      width: 18rem;
      border-radius: 3rem;
    }
  }
  .activeDay {
    opacity: 1;
    background-color: $color-primary-dark-2;
    transform: translateY(.2rem);
    box-shadow: 0 .2rem .5rem rgba($color-black, .4);
  }
}