// The weekContainer was originally a child of the menu element, but problems 
// with the stacking context forced me to move it outside. This allows us to make
// the weekContainer higher than the overlay in the mobile layout.

.weekContainer {
  background-image: linear-gradient(to right, $color-primary-medium-2, $color-primary-light);
  width: 100%;
  height: 10rem;
  z-index: $layer-1;
  position: sticky;
  top: 0;

  @include respond-shrink(43.75em) {
    position: fixed;
    width: 25rem;
    padding: 2rem;
    padding-top: 20rem;
    height: 100vh;
    right: 0;
    opacity: 0;
    box-shadow: 0 0 5rem rgba($color-black, .7);
    z-index: $layer-below;
    transition: opacity 0.3s, z-index 0.3s;

    &.menuOpen {//Reveals the menu in mobile layout
      z-index: $layer-3;
      opacity: 1;
    }
  }
}

.week {
  @include centerChildren;

  @include respond-shrink(43.75em) {
    flex-direction: column;
  }
  li {
    list-style: none;
  }
  ;
  &__day {
    font-size: 2.5rem;
    margin: 3rem 1rem;
    padding: .3rem;
    width: 12rem;
    text-transform: $mainTextDisplay;
    color: $color-white;
    font-weight: 200;

    @include respond-shrink(43.75em) {
      font-size: 3rem;
      padding: 1rem;
      width: 18rem;
      border-radius: 3rem;
    }
  }

  .activeDay {
    opacity: 1;
    background-color: $color-primary-dark-2;
    transform: translateY(.2rem);
    box-shadow: 0 .2rem .5rem rgba($color-black, .4);
  }

  &__back {
    display: none;

    @include respond-shrink(43.75em) {
      display: inline-block;
      position: absolute;
      top: 5%;
      left: 37%;
      font-size: 6rem;
    }
  }
}