.routineContainer {
  width: 50%;
  margin: 0 auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
  display: flex;
  flex-direction: column;

  @include respond-shrink(65.625em) {
    width: 70%;
  }
}

.eventContainer {
  margin: 1.5rem auto;
  width: 100%;
  transition: padding .3s, margin .3s;
}

.eventContainer:nth-child(odd) { 
  .event {background-color: $color-grey-light-1;}
}

.eventContainer:nth-child(even) {
  .event {background-color: $color-grey-light-2;}
}
