.menu {
  height: 20rem;
  -webkit-box-shadow: 0 1rem 2rem rgba($color-black, .3);
  box-shadow: 0 1rem 2rem rgba($color-black, .3);
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5rem;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__weekContainer {
    background-image: linear-gradient(to right, $color-primary-medium-2, $color-primary-light);
    width: 100%;
    height: 10rem;
    z-index: 200;

    @include respond-shrink(43.75em) {
      position: absolute;
      width: 25rem;
      padding: 2rem;
      padding-top: 20rem;
      height: 100vh;
      right: -50%;
      box-shadow: 0 0 5rem rgba($color-black, .7);
      transition: right .3s;

      &.menuOpen {
        right: 0;
      }
    }
  }
  
  //-------------------------------------------------------BUTTONS

  &__btnContainer {
    width: 100%;
    height: 10rem;
    background-color: $color-white;
    @include centerChildren;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;

    button {
      height: 5rem;
      margin: 0 4rem;
      padding: .5rem;
      
      i {
        font-size: 3.5rem;
        margin-right: 1rem;
        -webkit-transition: margin 0.3s;
        transition: margin 0.3s;
      }
      span {
        font-size: 2rem;
      }
      @include centerChildren;
    }

    button:last-child{
      display: none; 

      @include respond-shrink(43.75em) {
        display: flex;
      }
    }
  } 
  
  //-------------------------------------------------------CURRENT DAY DISPLAY
  // Only appears on mobile
  
  &__mobile {
    position: relative;
    height: 10rem;
    background-image: linear-gradient(to right, $color-primary-medium-2, $color-primary-light);
    display: none;

    @include respond-shrink(43.75em) {
      display: block;
    }
  }
  &__currentDay {
    background-color: darken($color-primary-dark-1, 10%);
    font-size: 3.5rem;
    padding: 1.2rem 5rem;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 200;
    border-radius: 3rem;
    @include center;
  }
}