.menu {
  background-image: linear-gradient(to right, $color-primary-medium-2, $color-primary-light);
  height: 10rem;
  -webkit-box-shadow: 0 1rem 2rem rgba($color-black, .3);
  box-shadow: 0 1rem 2rem rgba($color-black, .3);
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 10rem; //Height of week container
  z-index: 100;

  @include respond-shrink(43.75em) {
    height: 20rem; //Make room for Mobile and Button Container components
    top: 0rem; //Week container pops off, stick to top

    .desktopText {
      display: none; //Shortens text on smaller screens
    }
  }
  
  //-------------------------------------------------------BUTTONS

  &__btnContainer {
    width: 100%;
    height: 10rem;
    background-color: $color-white;
    overflow-x: hidden;
    @include centerChildren;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;

    @include respond-shrink(43.75em) {
      background-color: $color-grey-light-1;
    }

    button {
      height: 5rem;
      margin: 0 4rem;
      padding: .5rem;
      
      i {
        font-size: 3.5rem;
        margin-right: 1rem;
        -webkit-transition: margin 0.3s;
        transition: margin 0.3s;
      }
      span {
        font-size: 2rem;
      }
      @include centerChildren;
    }

    button:last-child{ //Hides the btnOptions, reveals for mobile layout
      display: none; 

      @include respond-shrink(43.75em) {
        display: flex;
      }
    }
  } 
  
  //-------------------------------------------------------CURRENT DAY DISPLAY
  // Only appears on mobile
  
  &__mobile {
    position: relative;
    height: 10rem;
    display: none;

    @include respond-shrink(43.75em) {
      display: block;
    }
  }
  &__currentDay {
    background-color: darken($color-primary-dark-1, 10%);
    font-size: 3.5rem;
    padding: 1.2rem 5rem;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 200;
    border-radius: 3rem;
    @include center;
  }
}

