.resetRoutineUI {
  height: 28rem;
  width: 45rem;
  font-size: 2rem;

  @include popUpUI;
  @include center;
  @include centerChildren;
  @include hide;

  &__back {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 3%;
    @include menuButton;
  }
  
  &__text {
    text-align: center;
    margin-bottom: 3rem;
    color: $color-primary-medium-1;
    margin-top: 2rem;
  }
}