@media only screen and (max-width: 1100px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 51%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 65%;
    }
    
    }
    
    .weekContainer {
        background-color: transparent;
    }
    
    .week {
        position: sticky;
        flex-direction: column;
        background-color: #fff;
        width: 20rem;
        box-shadow: 0 0 1rem;
        z-index: 300;
    }
    
    .week__day {
        margin: 1.5rem;
    }
    
    .activeDay {
        transform: translateX(15%);
    }
    
    .nav__button {
        margin: 0 1.5rem;
    }
    
    .nav__button span {
        font-size: 1.5rem;
    }
    
    .routine {
        width: 80%;
    }

}

@media only screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }

@media only screen and (max-width: 700px) {
    html {
        font-size: 55%;
    }

@media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }
}