@media only screen and (max-width: 1100px) {
    html {
        font-size: 55%;
    }
    
    .routineContainer{
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 51%;
    }
    
    .routineContainer{
        width: 75%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 47%;
    }

}

@media only screen and (max-width: 800px) {
    html {
        font-size: 44%;
    }

}

@media only screen and (max-width: 700px) {
    html {
        font-size: 36%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
    
    .menu__weekContainer {
        width: auto;
        height: auto;
    }
    
    .week {
        position: sticky;
        flex-direction: column;
        background-color: #fff;
        width: 20rem;
        box-shadow: 0 0 1rem;
        z-index: 300;
    }
    
    .week__day {
        margin: 1.5rem;
    }
    
    .activeDay {
        transform: translateX(15%);
    }
    
    .menu__button {
        margin: 0 1.5rem;
    }    
    
    .menu__button span {
        font-size: 1.5rem;
    }
    
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 40%;
    }

    .menu__button {
        display: flex;
        flex-direction: column;
        transform: translateY(-1.4rem)
    }   
    
    .menu__button i{
        margin-bottom: 1rem;
    }
}