/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-primary-light: #4CCBFF;
  --color-primary-medium-1: #00B3FF;
  --color-primary-medium-2: #0091CC;
  --color-primary-dark-1: #005A7F;
  --color-primary-dark-2: #003459;
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #e9e9e9;
  --color-grey-medium: #707070;
  --color-grey-dark: #333;
  --color-white: #fff;
  --color-black: #000; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-image: url(../img/dust_scratches.png);
  background-attachment: fixed;
  overscroll-behavior-y: none;
  -ms-scroll-chaining: none;
  overflow-x: hidden;
  width: 100vw; }

body {
  overscroll-behavior-y: none; }

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

html {
  font-size: 55%;
  font-weight: 400; }

body {
  font-family: 'Nunito', sans-serif; }

.btnSubmit {
  text-align: center; }
  .btnSubmit input {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
    margin: 0 2rem;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #005A7F 33%, #0091CC 66%, #4CCBFF);
    background-size: 250%;
    background-position: right;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 2rem;
    transition: .3s; }
  .btnSubmit input:hover {
    background-position: center;
    cursor: pointer;
    -webkit-transform: translateY(0.2rem);
    transform: translateY(0.2rem);
    box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .btnSubmit input:focus {
    outline: none; }

.event {
  height: 15rem;
  -webkit-box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  border-radius: 1rem;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: border-left .3s, opacity .3s, height .3s, background-color 0.5s;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-wrap: wrap; }
  .event > div:not(:last-child) {
    position: relative;
    width: 33%; }
  .event__name p {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0091CC, #00B3FF);
    font-size: 2rem;
    text-align: center;
    width: 20rem;
    max-height: 12rem;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 3rem;
    color: #fff;
    word-wrap: break-word;
    transition: transform 0.3s;
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }
  .event__time {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: opacity 0.3s; }
    .event__time span {
      font-size: 2rem;
      margin: 0 auto;
      font-weight: 600;
      vertical-align: middle;
      padding: 0.6rem 2rem; }
  .event__start {
    top: 0;
    color: #00B3FF;
    border-right: 3px solid #00B3FF; }
  .event__end {
    bottom: 0;
    color: #005A7F;
    border-right: 3px solid #005A7F; }
  .event__notes {
    opacity: 0; }
  .event__config, .event__delete, .event__toggleNote {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    color: #00B3FF;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .event__config, .event__delete {
    opacity: 0;
    transform: translateY(1.2rem); }
  .event__config:focus, .event__delete:focus, .event__toggleNote:focus {
    outline: none; }
  .event:hover {
    border-left: 10px solid #005A7F; }
    .event:hover .event__name p {
      transform: translate(50%, 50%) scale(1.07);
      backface-visibility: hidden; }
    .event:hover .event__config,
    .event:hover .event__delete {
      transform: translateY(0);
      opacity: 1;
      cursor: pointer; }
    .event:hover .event__toggleNote {
      right: 40%;
      transform: scale(1.05);
      cursor: pointer; }
    .event:hover .event__config:hover,
    .event:hover .event__delete:hover {
      color: #005A7F;
      transform: translateY(0) scale(1.1);
      backface-visibility: hidden; }
    .event:hover .event__toggleNote:hover {
      color: #005A7F;
      transform: scale(1.15); }
  .event__config {
    top: 35%;
    right: 60%; }
  .event__delete {
    top: 35%;
    right: 20%; }

.hasNote .event > div:last-child {
  position: absolute;
  width: 28%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.hasNote .event__note {
  opacity: 0;
  text-align: center;
  color: #0091CC;
  font-size: 1.7rem;
  line-height: 2.5rem;
  word-wrap: break-word;
  transition: opacity 0.3s; }

.hasNote .event__config {
  top: 36%;
  right: 70%; }

.hasNote .event__delete {
  top: 36%;
  right: 10%; }

.hasNote .event__toggleNote {
  top: 36%;
  right: 40%;
  transform: scale(1.3); }

.openNote .event__time {
  opacity: 0; }

.openNote .event__name p {
  transform: translate(-58%, 50%) scale(0.78); }

.openNote .event__note {
  opacity: 1; }

.openNote .event__toggleNote {
  color: #005A7F; }

.openNote:hover .event__name p {
  transform: translate(-58%, 50%) scale(0.85); }

.openNote:hover .event__toggleNote:hover {
  color: #00B3FF; }

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .overlay.overlayON {
    opacity: 1;
    z-index: 300; }
  .overlay.overlayFADE {
    /*Temp state to keep overlay on top while fading*/
    opacity: 0;
    z-index: 300; }
  .overlay.overlayOFF {
    opacity: 0;
    z-index: -1; }

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .week li {
    list-style: none; }
  .week__day {
    font-size: 2.5rem;
    margin: 3rem 1rem;
    padding: .3rem;
    width: 12rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    background-color: #005A7F;
    font-family: inherit;
    border: none;
    border-radius: 2rem;
    transition: opacity 0.3s, background-color 0.3s, transform .3s, box-shadow .3s;
    opacity: 0.5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .week__day:hover:not(.selected):not(.activeDay) {
      opacity: 1;
      cursor: pointer;
      transform: translateY(-0.2rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .week__day:focus {
      outline: none; }
  .week .activeDay {
    opacity: 1;
    background-color: #003459;
    transform: translateY(0.2rem);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4); }

.cloneRoutineUI {
  height: 42rem;
  width: 60rem;
  font-size: 2rem;
  background-color: white;
  z-index: 400;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.7);
  border: 15px solid #005A7F;
  border-radius: 1rem;
  position: relative;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .cloneRoutineUI__back {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 3%;
    color: #00B3FF;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: all 0.3s;
    background: none;
    border: none; }
    .cloneRoutineUI__back:hover {
      cursor: pointer;
      opacity: 1;
      color: #005A7F;
      transform: scale(1.05); }
    .cloneRoutineUI__back:focus {
      outline: none; }
  .cloneRoutineUI__text {
    text-align: center;
    margin-bottom: 3rem;
    color: #00B3FF;
    margin-top: 2rem; }
  .cloneRoutineUI .hidden {
    display: none; }
  .cloneRoutineUI__daysContainer {
    list-style: none;
    color: #4CCBFF;
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .cloneRoutineUI__daysContainer button {
      font-size: 2rem;
      display: inline-block;
      margin: 1.5rem;
      padding: .5rem 4rem;
      width: 10rem;
      text-transform: uppercase;
      color: #fff;
      font-weight: 200;
      -webkit-box-shadow: 0 0.2rem 0.5rem #333;
      box-shadow: 0 0.2rem 0.5rem #333;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #005A7F;
      font-family: inherit;
      border: none;
      border-radius: 2rem;
      transition: opacity 0.3s, background-color 0.3s, transform .3s, box-shadow .3s;
      opacity: 0.5;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
      .cloneRoutineUI__daysContainer button:hover:not(.selected):not(.activeDay) {
        opacity: 1;
        cursor: pointer;
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .cloneRoutineUI__daysContainer button:focus {
        outline: none; }
  .cloneRoutineUI .selected {
    opacity: 1;
    background-color: #003459;
    transform: translateY(0.2rem);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4); }
    .cloneRoutineUI .selected:hover {
      cursor: pointer; }

.routineContainer {
  width: 40%;
  margin: 0 auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 1;
  display: flex;
  flex-direction: column; }

.eventContainer {
  margin: 1.5rem auto;
  width: 100%;
  transition: padding .3s, margin .3s; }

.eventContainer:nth-child(odd) .event {
  background-color: #f6f6f6; }

.eventContainer:nth-child(even) .event {
  background-color: #e9e9e9; }

.newEventUI,
.configEventUI {
  height: 63rem;
  width: 50rem;
  background-color: white;
  z-index: 400;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.7);
  border: 15px solid #005A7F;
  border-radius: 1rem;
  position: relative;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .newEventUI__back,
  .configEventUI__back {
    position: absolute;
    font-size: 3rem;
    top: 3%;
    right: 3%;
    color: #00B3FF;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: all 0.3s;
    background: none;
    border: none; }
    .newEventUI__back:hover,
    .configEventUI__back:hover {
      cursor: pointer;
      opacity: 1;
      color: #005A7F;
      transform: scale(1.05); }
    .newEventUI__back:focus,
    .configEventUI__back:focus {
      outline: none; }
  .newEventUI__form,
  .configEventUI__form {
    width: 82%;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .newEventUI__name, .newEventUI__startTime, .newEventUI__endTime, .newEventUI__notes,
  .configEventUI__name,
  .configEventUI__startTime,
  .configEventUI__endTime,
  .configEventUI__notes {
    margin: 6rem 0; }
    .newEventUI__name label, .newEventUI__startTime label, .newEventUI__endTime label, .newEventUI__notes label,
    .configEventUI__name label,
    .configEventUI__startTime label,
    .configEventUI__endTime label,
    .configEventUI__notes label {
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
      backface-visibility: hidden;
      display: inline-block;
      color: #fff;
      margin-right: 2rem;
      width: 10rem;
      font-size: 1.7rem;
      text-align: center;
      background-image: linear-gradient(to right, #005A7F, #0091CC);
      padding: 0.5rem;
      font-weight: 200;
      border-radius: 1rem; }
    .newEventUI__name input, .newEventUI__startTime input, .newEventUI__endTime input, .newEventUI__notes input,
    .configEventUI__name input,
    .configEventUI__startTime input,
    .configEventUI__endTime input,
    .configEventUI__notes input {
      border: none;
      background: transparent;
      border-bottom: 1px solid #00B3FF;
      font-family: 'Nunito', sans-serif;
      color: #0091CC;
      font-size: 1.8rem;
      transition: all .3s;
      border-radius: 3px; }
    .newEventUI__name textarea, .newEventUI__startTime textarea, .newEventUI__endTime textarea, .newEventUI__notes textarea,
    .configEventUI__name textarea,
    .configEventUI__startTime textarea,
    .configEventUI__endTime textarea,
    .configEventUI__notes textarea {
      background: transparent;
      border: 1px solid #00B3FF;
      vertical-align: bottom;
      font-family: 'Nunito', sans-serif;
      color: #0091CC;
      resize: none;
      height: 12rem;
      width: 20rem;
      padding: 1rem;
      font-size: 1.8rem;
      border-radius: 1rem; }
    .newEventUI__name input:focus,
    .newEventUI__name textarea:focus, .newEventUI__startTime input:focus,
    .newEventUI__startTime textarea:focus, .newEventUI__endTime input:focus,
    .newEventUI__endTime textarea:focus, .newEventUI__notes input:focus,
    .newEventUI__notes textarea:focus,
    .configEventUI__name input:focus,
    .configEventUI__name textarea:focus,
    .configEventUI__startTime input:focus,
    .configEventUI__startTime textarea:focus,
    .configEventUI__endTime input:focus,
    .configEventUI__endTime textarea:focus,
    .configEventUI__notes input:focus,
    .configEventUI__notes textarea:focus {
      outline: none;
      background-color: rgba(0, 179, 255, 0.1); }
  .newEventUI__name,
  .configEventUI__name {
    margin-top: 2rem; }
  .newEventUI__notes,
  .configEventUI__notes {
    margin-bottom: 5rem; }
    .newEventUI__notes label,
    .configEventUI__notes label {
      vertical-align: top; }

.menu {
  height: 20rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5rem;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .menu__weekContainer {
    background-image: linear-gradient(to right, #0091CC, #4CCBFF);
    width: 100%;
    height: 10rem;
    z-index: 200; }
  .menu__buttonContainer {
    width: 100%;
    height: 10rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none; }
  .menu__mobile {
    position: relative;
    height: 10rem;
    background-color: #0091CC;
    display: none; }
  .menu__currentDay {
    background-color: #00364c;
    font-size: 4rem;
    padding: .6rem;
    width: 30rem;
    text-align: center;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }

.btn {
  height: 5rem;
  margin: 0 4rem;
  padding: .5rem;
  color: #00B3FF;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: all 0.3s;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn i {
    font-size: 3.5rem;
    margin-right: 1rem;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s; }
  .btn span {
    font-size: 2rem; }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
    color: #005A7F;
    transform: scale(1.05); }
  .btn:focus {
    outline: none; }

.resetRoutineUI {
  height: 28rem;
  width: 45rem;
  font-size: 2rem;
  background-color: white;
  z-index: 400;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.7);
  border: 15px solid #005A7F;
  border-radius: 1rem;
  position: relative;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .resetRoutineUI__back {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 3%;
    color: #00B3FF;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: all 0.3s;
    background: none;
    border: none; }
    .resetRoutineUI__back:hover {
      cursor: pointer;
      opacity: 1;
      color: #005A7F;
      transform: scale(1.05); }
    .resetRoutineUI__back:focus {
      outline: none; }
  .resetRoutineUI__text {
    text-align: center;
    margin-bottom: 3rem;
    color: #00B3FF;
    margin-top: 2rem; }
