@mixin center {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

@mixin centerChildren {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@mixin hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@mixin respond-shrink($breakpoint) {
  @media (max-width: $breakpoint) {@content};
}

@mixin respond-grow($breakpoint) {
  @media (min-width: $breakpoint) {@content};
}


