.overlay {
  background-color: rgba($color-black, 0.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  &.overlayON {
    opacity: 1;
    z-index: $layer-2;
  }
  &.overlayFADE {
    /*Temp state to keep overlay on top while fading*/
    opacity: 0;
    z-index: $layer-2;
  }
  &.overlayOFF {
    opacity: 0;
    z-index: $layer-below;
  }
}