.resetScheduleUI {
  height: 28rem;
  width: 45rem;
  font-size: 2rem;

  @include center;
  @include centerChildren;
  @include hide;

  // Button to go back to main view
  &__back {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 3%;
  }
  
  &__text {
    text-align: center;
    line-height: 1.5;
    color: $color-primary-medium-1;
    margin: 1rem auto 4rem auto;
    width: 70%;
  }

  @include respond-shrink(35em) {
    width: 70%;
  }
  @include respond-shrink(29.375em) {
    height: 32rem;
    width: 80%;
    font-size: 2.3rem;
  }
  @include respond-shrink(26.25em) {
    height: 34rem;
    width: 100%;
    font-size: 2.6rem;
  }
}