.resetScheduleUI {
  height: 28rem;
  width: 45rem;
  font-size: 2rem;

  @include center;
  @include centerChildren;
  @include hide;

  // Button to go back to main view
  &__back {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 3%;
  }
  
  &__text {
    text-align: center;
    line-height: 1.5;
    color: $color-primary-medium-1;
    margin: 1rem auto 4rem auto;
    width: 70%;
  }
}